downloads/
archives/
*.orig
*.swp
venv*/
.venv/

# lib_check downloads these
*-stamp
arch_tmp/
arb*/
bzip2*/
cfitsio/
flex*/
freetype*/
giflib*/
harfbuzz*/
hdf5*/
jpeg*/
lcms2*/
libaec*/
libpng*/
libwebp*/
lzo*/
mpir*/
openssl*/
pcre*/
ragel*/
szip*/
swig*/
tiff*/
xz*/
yaml*/
