downloads/
archives/
*.orig
*.swp

# lib_check downloads these
*-stamp
arb*/
bzip2*/
cfitsio/
flex*/
freetype*/
giflib*/
hdf5*/
jpeg*/
lcms2*/
libaec*/
libpng*/
libwebp*/
lzo*/
mpir*/
openssl*/
pcre*/
ragel*/
szip*/
swig*/
tiff*/
xz*/
yaml*/
