downloads/
archives/
*.orig
*.swp

# lib_check downloads these
arb*/
arb-stamp
bzip2*/
bzip2-stamp
cfitsio/
cfitsio-stamp
flex*/
flex-stamp
freetype*/
freetype-stamp
giflib*/
giflib-stamp
hdf5*/
hdf5-stamp
jpeg*/
jpeg-stamp
lcms2*/
lcms2-stamp
libaec*/
libaec-stamp
libpng*/
libpng-stamp
libwebp*/
libwebp-stamp
lzo*/
lzo-stamp
mpir*/
mpir-stamp
openblas-stamp
openssl*/
openssl-stamp
pcre*/
pcre-stamp
ragel*/
ragel-stamp
szip*/
szip-stamp
swig*/
swig-stamp
tiff*/
tiff-stamp
xz*/
xz-stamp
yaml*/
yaml-stamp
zlib-stamp
